<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @service.name %>
</p>


<p>
  <b> Permissions: </b>
  <%= @service.permissions.collect {|x| "#{x.category.name} - #{x.name}"} %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
