<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @developer.name %>
</p>


<p>
  <b> Organization: </b>
  <%= link_to @developer.organization.name, organization_path(@developer.organization) %>
</p>

<p>
  <b> Org Permissions: </b>
  <% @developer.organization.permissions.each do |per| %>
  <span
  <% if @developer.permissions.include?(per)  %>
            style="text-decoration:line-through"
      <% end %>
      > <%=per%></span> &nbsp;
  <%end %>
</p>


<p>
  <b> My Permissions: </b>
  <%= @developer.permissions %>
</p>




<p>
  <b>Cumulative Permissions</b>
  <%= @developer.cumulative_permissions %>

</p>


<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
