<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @developer.name %>
</p>


<p>
  <b> Organization: </b>
  <%= link_to @developer.organization.name, organization_path(@developer.organization) %>
</p>

<p>
  <b> Org Permissions: </b>
  <% @developer.organization.permissions.each do |per| %>
  <span     style="
    <% if @developer.permissions.include?(per)  %>
            color: lightgray;
    <% end %>
    <% if @developer.organization.restrictions.collect{|x|x.id}.include?(per.id)  %>
            text-decoration:line-through
    <% end %>
      "> <%=per%></span> &nbsp;
  <%end %>
  <br><span style="color: gray; font-style:italic;font-size: 0.8em">Strike though = Permission was restricted</span>
  <br><span style="color: gray; font-style:italic;font-size: 0.8em">Grayed out = Permission was overriden</span>
</p>


<p>
  <b> My Restrictions: </b>
  <%= @developer.restrictions %>
</p>


<p>
  <b> My Permissions: </b>
  <% @developer.permissions.each do |per| %>
  <span
          <% if @developer.restrictions.collect{|x|x.id}.include?(per.id)  %>
          style="text-decoration:line-through"
          <% end %>
  > <%=per%></span> &nbsp;
  <%end %>
  <br><span style="color: gray; font-style:italic;font-size: 0.8em">Strike though = Permission was restricted</span>
</p>




<p>
  <b>Cumulative Permissions</b>
  <%= @developer.cumulative_permissions %>

</p>

<p>
  <b>Services</b>
  <%= Service.services_for @developer %>

</p>



<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Back', developers_path %>
