<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>


<p>
  <b> Developers: </b>
  <%= @organization.developers.collect{|x|x.name} %>
</p>

<p>
  <b> Permissions: </b>
  <%= @organization.permissions %>
</p>

<p>
  <b> Restrictions: </b>
  <%= @organization.restrictions %>
</p>


<p>
  <b>Services</b>
  <%= Service.services_for @organization %>

</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
